.attackControl__btn {
  position: relative;
  float: left;
  background: #666;
  border: 3px solid #888;
  border-radius: 4px;
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  line-height: 14px;
  margin: 4px;
  padding: 16px;
  width: calc(50% - 8px);
  height: calc(50% - 8px);
  outline: none !important;
}

.attackControl__btn:hover {
  background: #777;
  border-color: #999;
}

.attackControl__btn:active {
  background: #555;
  border-color: #666;
}

.attackControl__btn:disabled {
    cursor: not-allowed;
    background-color: #b1bec6;
    color: red;
}